# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/
.env/
virtualenv/
.virtualenv/
.windsurfrules/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
lib/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.whl
*.manifest

# Django specific
*.log
*.pot
media/
static/
db.sqlite3
db.sqlite3-*

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/
*.iml

# Other
*.swp
*~